ion-list {
  --ion-item-background: transparent;
}

ion-card {
  background-color: rgba(71, 71, 87, 0.75);
}

ion-card-header {
  display: flex;
  justify-content: space-between;
  padding-right: 0px;
}

ion-card-title {
  font-weight: bold;
}

ion-card ion-icon {
  font-size: 24px;
}

div {
  padding-top: 60%;
  text-align: center;
  color: grey;
  font-size: 15px;
}

div ion-icon {
  font-size: 56px;
  color: rgb(197, 197, 197);
}
